@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-accent: 33 56% 56%;

    /* --home-background: 42 31% 94%; */
    --home-background: 0 0% 100%;
    --home-foreground: 25 16% 30%;
    --home-border: 0 0% 90%;
    --home-card-background: 0 0% 100%;
    --home-card-background-hover: 0 0% 95%;
    --home-footer-background: 0 0% 26%;
    --home-footer-foreground: 42 31% 94%;

    --home-cart-banner: 47 29% 94%;

    --checkout-border: 0 0% 85.5%;
    --checkout-border-focus: 13 26.9% 65.7%;
    --checkout-border-shadow: 0 0 0 1px hsl(13, 26.9% 65.7%);
    --checkout-radio-background: 20 17.6% 96.7%;
    --checkout-secondary-foreground: 0 0% 44%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 25 16% 30%;
    --primary-foreground: 42 31% 94%;

    --secondary: 42 31% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 42 31% 94%;
    --muted-foreground: 25 16% 53%;

    --accent: 42 31% 94%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 25 16% 30%;

    --radius: 0.5rem;
  }

  .dark {
    --primary-accent: 33 56% 56%;

    --home-background: 0 0% 5%;
    --home-foreground: 0 100% 99%;
    --home-border: 0 0% 15%;
    --home-card-background: 0 0% 8%;
    --home-card-background-hover: 0 0% 10%;
    --home-footer-background: 0 0% 8%;
    --home-footer-foreground: 0 0% 50%;

    --home-cart-banner: 0 0% 8%;

    --checkout-border: 0 0% 85.5%;
    --checkout-border-focus: 13 26.9% 65.7%;
    --checkout-border-shadow: 0 0 0 1px rgb(191, 154, 144);
    --checkout-radio-background: 20 17.6% 96.7%;
    --checkout-secondary-foreground: 0 0% 44%;

    --background: 0 0% 10%;
    --foreground: 0 0% 85%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 85%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 85%;

    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 85%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 50%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 85%;

    --destructive: 0 62.8% 35%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 16%;
    --input: 0 0% 20%;
    --ring: 0 0% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
